ac-cordeon details {
    border: 1px solid #aaa;
    border-radius: .25rem;
    padding: .5rem .5rem 0;
}

ac-cordeon summary {
    font-weight: bold;
    margin: -.5rem -.5rem 0;
    padding: .5rem;
}

ac-cordeon details[open] {
    padding: .5rem;
}

ac-cordeon details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5rem;
}

ac-cordeon details + details {
    margin-block-start: .5rem;
}